@use '../../shared/styles/mixins' as mixins;
@use '../../shared/styles/tokens' as tokens;

.page-shell {
  @include mixins.page-shell(1080px);
  margin-bottom: tokens.$spacing-xl;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.counter-container {
  display: flex;
  align-items:center;
  justify-content: align-evenly;
  margin: tokens.$spacing-md;
}

.counter-card,
.items-card,
.snapshot-card {
  @include mixins.card;
  padding: tokens.$spacing-xl;
  margin: tokens.$spacing-xl auto;
  h1, h2 {
    font-size: tokens.$font-size-heading-1;
    letter-spacing: tokens.$letter-spacing-base;
  }
}
