@use './app/shared/styles/tokens' as tokens;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  color: tokens.$color-text;
}

button,
input {
  font: inherit;
}
